<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pidvn.mappers.three.hr.meal.HrMealMapper">

    <resultMap id="getMealRecords-result"
               type="pidvn.modules.hr.meal.models.MealRecordVo">
        <result column="RowNum" property="rowNum" javaType="Integer"/>
        <result column="CodeEmp" property="codeEmp" javaType="String"/>
        <result column="ProfileName" property="profileName" javaType="String"/>
        <result column="TimeLog" property="timeLog" javaType="Date"/>
        <result column="MachineCode" property="machineCode" javaType="String"/>
        <result column="CanteenCode" property="canteenCode" javaType="String"/>
        <result column="CanteenName" property="canteenName" javaType="String"/>
        <result column="LineCode" property="lineCode" javaType="String"/>
        <result column="LineName" property="lineName" javaType="String"/>
        <result column="OrgStructureName" property="orgStructureName" javaType="String"/>
    </resultMap>
    <select id="getMealRecords" resultMap="getMealRecords-result">
        SELECT
            ROW_NUMBER() OVER (ORDER BY TimeLog DESC) as RowNum, A.*
        FROM PIDVN_MealRecord A
        WHERE 1 = 1
        <if test="timeLogRange != null and timeLogRange.size != 0">
            and convert(date, A.TimeLog) between convert(date,#{timeLogRange[0]}) and convert(date,#{timeLogRange[1]})
        </if>
        <if test="empCode != null">
            and A.CodeEmp = #{empCode}
        </if>
        ORDER BY TimeLog DESC
    </select>


    <resultMap id="getMealRecordsSummary-result"
               type="pidvn.modules.hr.meal.models.MealRecordVo">
        <result column="RowNum" property="rowNum" javaType="Integer"/>
        <result column="TicketType" property="ticketType" javaType="String"/>
    </resultMap>
    <select id="getMealRecordsSummary" resultMap="getMealRecordsSummary-result">
            with
            T01 as (
                SELECT
                    A.CodeEmp, A.ProfileName,
                    CASE
                        WHEN A.LineCode = 'PBS2' THEN N'Suất Phụ'
                        WHEN A.LineCode = 'PEOC1' THEN N'Suất Phụ'
                        ELSE N'Suất Chính'
                    END AS TicketType
                FROM PIDVN_MealRecord A
                WHERE 1 = 1
                <if test="timeLogRange != null and timeLogRange.size != 0">
                    AND convert(date, A.TimeLog) between convert(date,#{timeLogRange[0]}) and convert(date,#{timeLogRange[1]})
                </if>
                <if test="empCode != null">
                    and A.CodeEmp = #{empCode}
                </if>
            ),
            T02 as (
                SELECT T01.*, COUNT(*) as Total FROM T01
                GROUP BY T01.CodeEmp, T01.ProfileName, T01.TicketType
            )

            SELECT
                ROW_NUMBER() OVER (ORDER BY T02.CodeEmp DESC) as RowNum,
                T02.*
            FROM T02 ORDER BY CodeEmp DESC

    </select>
</mapper>