<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pidvn.mappers.one.pih.process_recording.PihProcessRecordingMapper">

    <resultMap id="getMaterial-result"
               type="pidvn.modules.pih.process_recording.models.MaterialVo">
        <result column="fr_box" property="frBox" javaType="Integer"/>
        <result column="to_box" property="toBox" javaType="Integer"/>
        <result column="winding_bobbin" property="windingBobbin" javaType="Integer"/>
        <result column="created_at" property="createdAt" javaType="Date"/>
    </resultMap>
    <select id="getMaterial" resultMap="getMaterial-result">
        select
            M.*,
            (select U.name from users U where U.username = M.user1) employee
        from material_controls M
        where 1 = 1
        <if test="cpn">
            and M.cpn = #{cpn}
        </if>
        <if test="plotno">
            and M.plotno = #{plotno}
        </if>
        <if test="clotno">
            and M.clotno = #{clotno}
        </if>
        <if test="recordType != null">
            and M.record_type = #{recordType}
        </if>

        <if test="line != null">
            and M.line = #{line}
        </if>

        <if test="fromDate != null and toDate != null">
            and M.date between DATE_FORMAT(#{fromDate}, '%Y-%m-%d') and DATE_FORMAT(#{toDate}, '%Y-%m-%d')
        </if>

        order by M.id desc

    </select>


    <resultMap id="getLots-result"
               type="pidvn.modules.pih.process_recording.models.LotVo">
        <result column="lot_group" property="lotGroup" javaType="String"/>
        <result column="s_no" property="createdAt" javaType="Date"/>
    </resultMap>
    <select id="getLots" resultMap="getLots-result">

        select
            l.id, l.lot_no, l.model, l.line, l.shift, l.`date`, l.qty, l.lot_group, l.s_no
        from lots l
        where 1 = 1
        <if test="lotNo != null">
            and l.lot_no = #{lotNo}
        </if>
        <if test="lotGroup != null">
            and l.lot_group = #{lotGroup}
        </if>
        <if test="sNoList != null and sNoList.size != 0">
            and l.s_no between #{sNoList[0]} and #{sNoList[1]}
        </if>

    </select>


    <select id="calculateQtyChangeCoil" resultType="Float">
        with
        T01 as (
            select
                l.id, l.lot_no, l.model, l.line, l.shift, l.`date`, l.qty, l.lot_group, l.s_no
            from lots l
            where l.lot_group = #{label}
            and l.s_no between #{fromBox} and #{toBox}
        ),
        T02 as (
            select T01.*, M.pnpa, M.pncomp, M.qtpern, M.qtperd, #{bobbinAmount} as bobbin_amount from T01
            left join ps_masters M on (T01.model = M.pnpa and M.pncomp = #{coilCode})
        )
        select sum(A.qty) qty from (
            select T02.model, T02.line, (T02.qty/T02.bobbin_amount*T02.qtpern/T02.qtperd) qty from T02
        ) A
        group by A.line, A.model
    </select>



</mapper>