<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pidvn.mappers.one.ie.drawing_control.IeDcMapper">

    <resultMap id="getProjects-result"
               type="pidvn.modules.ie.drawing_control.models.ProjectDto">

        <result column="control_no" property="controlNo" javaType="String"/>
        <result column="type_id" property="typeId" javaType="Integer"/>
        <result column="type_name" property="typeName" javaType="String"/>
        <result column="pic_id" property="picId" javaType="String"/>
        <result column="created_by" property="createdBy" javaType="String"/>
        <result column="created_at" property="createdAt" javaType="Date"/>

    </resultMap>
    <select id="getProjects" resultMap="getProjects-result">
        SELECT * from ie_dc_001
    </select>




</mapper>